<form action='/login/attempt' method='post' class="g-3">
  <div class="mb-3 row">
    <label for="login" class="col-sm-2 col-form-label">Login</label>
    <div class="col-sm-7">
      <input type="login" name="login" class="form-control" id="login" placeholder="Введите login">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-7">
      <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Введите пароль">
    </div>
  </div>
  <div class="row my-2">
    <button type="submit" class="btn btn-primary">Отправить</button>
  </div>
</form>
